html, body {
    height: 100%;
    width: 100%;
}

.content-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

/* Navbar at top of page which comprises the required header */

.navbar {
    background-color: slategrey;
}

.nav-item {
    color: #fff;
    font-size: 24px;
    font-style: oblique;
}

/* Main Content Begins */

.main-content {
    margin-left: auto;
    margin-right: auto;
    padding: 0 1em;
}

/* Just what it says (row with pic, name and title */

.header-row {
    padding: 1.5em 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 7%;
}

.top-image {
    margin: 5% -5% 6em 0;
}

.name-and-title {
    margin-top: 3em;
    margin-right: 5em;
}

#name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3.5em;
    color: slategrey;
}

#title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 2.5em;
    color: slategrey;
    margin-top: 0;
    justify-content: flex-start;
}

/* Added social media icons later; this block of code styles the icons */
.icon {
    margin-right: 8em;
    justify-content: flex-start;
    /* Uploaded slate gray target color (#708090) to here: https://codepen.io/sosuke/pen/Pjoqqp, and the page generated
     * the following filter to convert the social media icons to slate gray from black (their original color)
     */
    filter: invert(53%) sepia(23%) saturate(306%) hue-rotate(169deg) brightness(88%) contrast(87%);
}

/* Section to handle the captions  */
.caption {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3em;
    font-weight: bold;
    font-style: italic;
    color: slategrey;
    justify-content: center;
    display: flex;
    margin: -3% 0 2% 0;
}

/* Colors of each separate word in a separate span in the caption */

#c {
    color: #62B0EE;
}

#m {
    color: #903FD1;
}

#a {
    color: #95B565;
}

#v {
    color: #B55B5A;
}

#r {
    color: #ff9;
    background-color: slategray;
}

#bi {
    margin-top: 2%;
    font-size: 1em;
}

/* Horizontal Rule */

.line {
    display: flex;
    margin: 0 3em 1.5em 0;
    height: .25em;
    width: 95%;
    background-color: slategray;
}

/* Wordcloud section begins */

.banner {
    margin: 0 auto;
    font-size: 30px;
    font-weight: bold;
    color: slategray;
}

 .wordcloud {
    padding: 1.5em 0;
    height: 80%;
    width: 80%;
    margin-top: -1.5em;
    margin: -2% auto;
}

#cloud-text {
    font-size: 1.5em;
}

/* Featured Work section */

.work-text {
    font-size: 3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#7d97ad;
    margin-top: 5%;
    margin-left: 5%;
}

.featured-work {
    flex-wrap: wrap;
}

.items {
    width: 350px;
    height: 300px;
    margin: 1em 1em;
    margin-bottom: 3em;
}

 .img-item {
    width: 300px;
    height: 250px;
}

.h3 {
    align-self: center;
}

.figure {
    align-content: center;
}

.footer-container {
    text-align: center;
    font-weight: bold;
}

.credit {
    margin-bottom: 0;
}

/* Media Queries */

/* Items on page should not change lower than this screen width */

@media screen and (max-width: 370px) {

    body {
        text-align: center;
        align-items: center;
    }
}

@media screen and (max-width: 475px) {
    
    #name {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 2em;
        margin: auto;
    }

    #title {
        font-size: 2em;
        font-style: italic;
        margin: auto;
    }

    .work-text {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 690px) {
    #title {
        font-size: 2em;
        font-style: italic;
    }

    #cloud-text {
        font-size: 1em;
    }
}

@media screen and (max-width: 768px) {
    
    .header-row {
        justify-content: center;
    }

    .name-and-title {
        align-items: center;
    }

}

@media screen and (max-width: 1040px) {

    #name {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 3em;
    }
}

@media screen and (max-width: 1240px) {

    .content-wrapper {
        padding: 0 20px;
    }
}