/* Header */
/* header {
    padding-top: 15 rem;
    height: 30px; */
    /* margin-top: 15%; */
    /* text-align-last: right; */
/* } */

/* .header-text {
    text-align: center;
} */

/* .top-container1 {
    border-bottom: slategray;
    border-width: 1000px;
    background-color: rgb(230, 173, 221);
} */

/* .top-container2 {
    border-bottom: slategray;
    border-width: 1000px;
    background-color: rgb(173, 230, 181);
} */

.top-image {
    margin-top: 10px;
}

/* .name-and-title {
    display: block;
    flex-wrap: wrap;
    text-align-last: right;
} */

h2 {
    /* text-align-last: right; */
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: */
}

h4 {
    /* text-align-last: right; */
    font-family: Verdana, Tahoma, sans-serif;
    /* font-size */
}

/* .crossbar {
    height: 5px;
    width: 90%;
    border-color: blue;
    fill-opacity: 100%;
} */

/* Body - Container */
.container {
    display: flex;
    background-color: bisque;
}

/* Left-Bar */
/* .left-bar {
    padding-left: 20 rem;
} */

.row-2 {
    height: 200px;
    margin: 20px;
}

.col{
    width: 75px;
    height: 75px;
}

.row-10 {
    height: 100%;
    margin: 20px;
}

.main-content {
    height: 100%;
    background-color: gold;

}

.first {
    background-color:#02b3e4;
}

.second {
    background-color:#2d3c49;
}

.third {
    background-color:#7d97ad;
}

.color-code {
    margin-top: 0;
}

/* The Box Approach */
.box {
    width: 100%;
    height: 33%;
}

.dark-blue {
    border: red;
    background-color: darkblue;
    color: #ffffff;
    width: 20%;
    /* height: stretch; */
}

.light-blue {
    background-color: lightblue;
    width: 60%;
}

.green {
    background-color: green;
    color: #ffffff;
    width: 20%;
    height: 100%;
}

.line {
    margin-top: 5px 5px 0px 20px;
    height: 4px;
    width: 100%;
    border-radius: 25px;
    background-color: slategray;
}

.main-column {
    flex: 2;
    order: 2;
    align-self: center;
}

.left-column {
    flex: 1;
    order: 1;
    margin-top: 320px;
    margin-left: 40px;
}

.backdrop {
    margin-top: 3%;
    margin-left: 20%;
    /* width: 100%; */
    /* margin: 20 auto 0 auto; */
}

.inner {
    display: flex;
}

.inner {
    display: flex;
    flex: 1;
}

.inner img {
    width: 30%;
    height: 50%;
    /* flex: 1; */
}

.figure {
    width: 50%;
    height: 50%;
}

